/*Hieronder zie je de opmaak van de inhoudsopgave*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(89, 199, 226, 0.836);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(238, 238, 238); 
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(42, 139, 163, 0.836);
}

/* dit is voor de achtergrond kleur */
body {
    background-color: lightcyan;


responsive {
     width: 100%;
     height: auto;
}


}
 