/*Hieronder zie je de opmaak van de inhoudsopgave*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightcoral;
}

li {
    float: left;
}

li a {
    display: block;
    color: wheat; 
    text-align: center;
    padding: 14, 16;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(89, 199, 226, 0.836);
}

/* dit is voor de achtergrond kleur */
body {
    background-color: lightcyan;

}
 